/.bash_history
.binaries
cyginst.bat
*.c32
*.c64
ms2inst.bat
*.m32
*.m64
.viminfo
*.bc
*.ll
*.o
*.obj
*.exe
*.dll
*.s
dub.selections.json
.gnupg
/.emacs.d/elpa
/.emacs.d/auto-save-list
\#*#
*.a
sqlite-test/sqlite-test
*.lst
desktop.ini
/emacs-25.3_1-x86_64*
.binaries
*.m32
*.m64
.bash_history
.dub
*.dll
*.exe
Makefile*
desktop.ini
*.user
*_plugin_import.cpp
release
/docs
/usr
/lisp
/reference
/site-lisp
/etc
/xyzzy.wxp
